@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');


/*body {
  background: url('./images/neon_rain.jpg') no-repeat center center fixed;
  -webkit-background: cover;
  -moz-background: cover;
  -o-background: cover;
  background: cover;
} */

body {
  background-color: #1a1a1a !important;
} 